[user]
	name = Larry Glenn
	email = yrral.glenn@gmail.com
[color]
	ui = auto
[alias]
	ci = commit
	co = checkout
	st = status
	br = branch
	l = log --pretty='format:%Cred%h %Cblue%ai %Cgreen%d%n%Creset%s%n'
[core]
	excludesfile = /Users/larry/.gitignore
